@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@400;500;700&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Bad Script', cursive;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Red Hat Mono', monospace;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.album{
  background: rgb(252, 252, 252);
  width: 100%;
}

@media screen and (min-width: 480px) {
  .orqafon p{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-align: start;
    color: #333;
  }
  .orqafon h1{
    font-size: 25px;
  }
}
.orqafon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  text-align: start;
}
.orqafon p{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: start;
  color: #333;
}
.orqafon h1{
  font-size: 40px;
}
.modalka{
  position: fixed;
  top: 20;
  right: 20px;
}